llama-index 
BeautifulSoup4 
google-generativeai 
pinecone-client

llama-index-llms-gemini 
llama-index-embeddings-gemini 
llama-index-vector-stores-pinecone


streamlit

PyPDF2

python-box
ensure

streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai


-e .
